<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="sub-title">
      <h2 class="text-center">Registrar producto</h2>
      <div class="cancel" (click)="exit()">
        <mat-icon>cancel</mat-icon>
      </div>

    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label >Id Producto:</label>
        <input type="text" class="form-control"
         id="idProducto" 
         [(ngModel)]="producto.idProducto"
         name="idProducto"
         placeholder="escriba el id del producto">
      </div>
      <br>
      <div class="form-group">
        <label >Nombre:</label>
        <input type="text" class="form-control"
         id="nombre" 
         [(ngModel)]="producto.nombre"
         name="nombre"
         placeholder="escriba el nombre del producto">
      </div>
      <br>
      <div class="form-group">
        <label >Descripcion:</label>
        <input type="text" class="form-control"
         id="descripcion" 
         [(ngModel)]="producto.descripcion"
         name="descripcion"
         placeholder="escriba la descripcion del producto">
      </div>
      <br>
      <div class="form-group">
        <label >Precio:</label>
        <input type="text" class="form-control"
         id="precio" 
         [(ngModel)]="producto.precio"
         name="precio"
         placeholder="escriba el precio del producto">
      </div>
      <br>
      <div class="form-group">
        <label >Disponibilidad:</label>
        <input type="text" class="form-control"
         id="disponibilidad" 
         [(ngModel)]="producto.disponibilidad"
         name="disponibilidad"
         placeholder="true o false">
      </div>
      <br>
      <div class="form-group">
        <label >Cantidad:</label>
        <input type="number" class="form-control"
         id="cantidad" 
         [(ngModel)]="producto.cantidad"
         name="cantidad"
         placeholder="cantidad del producto">
      </div>
      <br>
      <div class="container-input-file">
        <label class="custom-file">
          <input type="file" 
          id="urlImg"
          name="urlImg"
          [(ngModel)]="producto.urlImg"
          (change)="handleImage($event)"
        />
          <mat-icon>cloud_upload</mat-icon>
        </label>
      </div>
      <br>
      <button class="btn btn-outline-success">Guardar</button>
    </form>
  </div>
</div>

