<body>    
  <div id="mysidenav" class="sidenav">     
      <p class="logo"><span>E</span>-TECH</p>
      <a routerLink="/inicio-admin" routerLinkActive="active" class="icon-a"><i class="fa fa-dashboard icons"></i> <mat-icon>home</mat-icon>  ADMINISTRACION</a>
      <a routerLink="/lista-usuarios" routerLinkActive="active" class="icon-a"><i class="fa fa-dashboard icons"> </i><mat-icon>person</mat-icon> USUARIOS </a> 
      <a href="" class="icon-a"><i class="fa fa-dashboard icons"></i><mat-icon>shopping_cart</mat-icon>PEDIDOS </a>
      <a routerLink="/lista-productos" routerLinkActive="active" class="icon-a"><i class="fa fa-dashboard icons"></i><mat-icon>inventory_2</mat-icon>PRODUCTOS </a>
      <a href="" class="icon-a"><i class="fa fa-dashboard icons"></i><mat-icon>mail</mat-icon> E-MAIL </a> 
  </div>    

</body>
