<div id="mysidenav" class="sidenav">
  <p class="logo"><span>E</span>-TECH</p>
  <a href="" class="icon-a"
    ><i class="fa fa-dashboard icons"></i> ADMINISTRACION</a
  >
  <a routerLink="/lista-usuarios" routerLinkActive="active"  class="icon-a"><i class="fa fa-dashboard icons"> </i> USUARIOS </a>
  <a href="" class="icon-a"><i class="fa fa-dashboard icons"></i> PEDIDOS</a>
  <a href="" class="icon-a"><i class="fa fa-dashboard icons"></i> PRODUCTOS</a>
  <a href="" class="icon-a"
    ><i class="fa fa-dashboard icons"></i> ESTADISTICAS</a
  >
</div>



<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
