*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    margin: 0px;
    padding: 0px;
    background-color:white ;
    overflow: hidden;
    font-size: system-ui;
}

.clearfix{
    clear: both;
}
.logo{
    margin: 0px;
    margin: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    font-size: 30px;

}

.logo span{
    color: blueviolet;
    font-weight: bold;
}
.sidenav{
    height: 100%;
    width: 299px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#272c4a;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a{
    padding: 15px 8px 15px 32px;
    color: #818181;
    display: block;
    transition: 0.5s;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-top: 30px;
    margin: 10px 10px 10px 10px;

}
.sidenav a:hover{
    color:black;
    background-color:white;
    border-radius: 10px;
    opacity:.5;

}

#main{
    transition: margin-left .5s;
    padding: 16px;
    margin-left :300px ;
    background-color: transparent;
    border: 1px solid blueviolet;
    border-radius:20px;
}
.head{
    padding: 20px;
}
.col-div-6{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
img{
    width: 60px;
    height: auto;
}

.nav{
    display: none;
}

.col-div-3{
    width: 25%;
    float: left;
}