<div>
  <app-navbar></app-navbar>
</div>

<section class="home" id="home">
  <div class="slider">
    <ul>
      <li>
        <img src="../../../assets/slider2.jpg" />
      </li>
      <li>
        <img src="../../../assets/slides3.jpg" />
      </li>
      <li>
        <img src="../../../assets/slides4.jpg" />
      </li>
      <li>
        <img src="../../../assets/Zona Gamer.jpg" />
      </li>
    </ul>
  </div>

  <!-- Fin Slider -->

  <!-- Productos Más Vendidos -->
</section>

<section class="productos">
  <br />

  <div class="tittle"><h1>•. Más vendidos .•</h1></div>

  <div class="wrapper">
    <div class="right">
      <div class="logo">Hols</div>
      <br />
      <div class="about">
        <p>Relleno</p>
      </div>
      <br />
      <button>
        <h1>Más información</h1>
      </button>
    </div>

    <div class="left">
      <ul>
        <li>JAJA SALU2</li>
        <li>JAJA SALU2</li>
        <li>JAJA SALU2</li>
        <li>JAJA SALU2</li>
        <li>JAJA SALU2</li>
        <li>JAJA SALU2</li>
      </ul>
    </div>
  </div>

  <div class="wrapper">
    <div class="right">
      <div class="logo">Hola</div>
      <br />
      <div class="about">
        <p>Relleno</p>
      </div>
      <br />
      <button>
        <h1>Más información</h1>
      </button>
    </div>

    <div class="left">
      <ul>
        <li>Chipset Apple A14 Bionic (5 nm)</li>
        <li>CPU Hexa-core</li>
        <li>GPU Apple GPU (4-core graphics)</li>
        <li>Dual 12 MP, f/2.2, 23mm (wide), 1/3.6"</li>
        <li>Loudspeaker Yes, with stereo speakers</li>
        <li>USB Lightning, USB 2.0</li>
      </ul>
    </div>
  </div>

  <div class="wrapper">
    <div class="right">
      <div class="logo">Hola</div>
      <br />
      <div class="about">
        <p>Relleno</p>
      </div>
      <br />
      <button>
        <h1>Más información</h1>
      </button>
    </div>

    <div class="left">
      <ul>
        <li>Chipset Apple A14 Bionic (5 nm)</li>
        <li>CPU Hexa-core</li>
        <li>GPU Apple GPU (4-core graphics)</li>
        <li>Dual 12 MP, f/2.2, 23mm (wide), 1/3.6"</li>
        <li>Loudspeaker Yes, with stereo speakers</li>
        <li>USB Lightning, USB 2.0</li>
      </ul>
    </div>
  </div>

  <div class="wrapper">
    <div class="right">
      <div class="logo">Hola</div>
      <br />
      <div class="about">
        <p>Relleno</p>
      </div>
      <br />
      <button>
        <h1>Más información</h1>
      </button>
    </div>

    <div class="left">
      <ul>
        <li>Chipset Apple A14 Bionic (5 nm)</li>
        <li>CPU Hexa-core</li>
        <li>GPU Apple GPU (4-core graphics)</li>
        <li>Dual 12 MP, f/2.2, 23mm (wide), 1/3.6"</li>
        <li>Loudspeaker Yes, with stereo speakers</li>
        <li>USB Lightning, USB 2.0</li>
      </ul>
    </div>
  </div>
</section>
