<div>
  <app-navbar></app-navbar>
</div>

<section class="home" id="home">
  <div class="slider">
    <ul>
      <li>
        <img src="../../../assets/slider2.jpg" />
      </li>
      <li>
        <img src="../../../assets/slides3.jpg" />
      </li>
      <li>
        <img src="../../../assets/slides4.jpg" />
      </li>
      <li>
        <img src="../../../assets/Zona Gamer.jpg" />
      </li>
    </ul>
  </div>

  <!-- Fin Slider -->

  <!-- Productos Más Vendidos -->
</section>

<section class="productos">
  <br />

  <div class="tittle"><h1>•. Productos .•</h1></div>
  <div *ngIf="isProdcut">
    <div *ngFor="let producto of productos">
      <div class="wrapper">
        <div class="right">
          <div class="logo">{{producto.nombre}}</div>
          <br />
          <div class="about">
            <p> $ {{producto.precio}}</p>
          </div>
          <br />
          <button>
            <h1>Más información</h1>
          </button>
        </div>
  
        <div class="left">
          <ul>
            <li>{{producto.descripcion}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="main" *ngIf="!isProdcut">
    <div class="container">
      <div class="circulo">
        <img src="../../../assets/img/product.png" class="img" alt="">
      </div>
        <p class="mensaje">No hay Productos Registrados!!!</p>
    </div>
  </div>
</section>
