.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #cca2f2;
    transition: all 0.2s ease;
  }
  
  body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
  }
  
  .chatbot-toggler span {
    color: #fff;
    position: absolute;
  }
  
  .chatbot-toggler span:last-child,
  body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
  }
  
  body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
  }


  .chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    width: 440px;
    height: 500px;
  }

  .header{
    width: 440px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cca2f2;
    .e{
        font-size: 20px;
    font-style: normal;
    font-weight: 700;
    }
  }

  .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
  }

  
.chatbox .chat {
    display: flex;
    list-style: none;
  }
  
  .chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #cca2f2;
    border-radius: 4px;
    margin: 0 10px 7px 0;
  }
  
  .chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
  }
  
  .chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
  }
  
  .chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
  }
  

  .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
  }
  
  .chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
  }
  
  .chat-input span {
    align-self: flex-end;
    color: #cca2f2;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
  }

  .button{
   display: flex;
   justify-content: center;
    align-items: center;
    cursor: pointer;

    .submit{
      cursor: pointer;
    }

  }

.textarea{
  width: 460px;
  height: 300px;
  overflow: auto;
}

.textarea::-webkit-scrollbar {
  width: 7px;
  border-radius: 8px;
  background: var(--B500, #33474C);
}

.textarea::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 8px;
  background-color: #030301;
  margin: 0 4px;
}