*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    max-width: 1200px;
    margin:  0 auto;
}

header{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center ;
}

.container-title{
    padding: 30px;
    background-color: gray;
    margin-bottom: 50px;
    color: black;

}
main{
    display: flex;
    gap: 30px;
    margin-top: 80px;  
}
.btn-seleccionar{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.btn-seleccionar label{
    width: 100px;
    color: #222;
    font-weight: 700;

}
.btn-seleccionar select{
    width: 300px;
    border: none;
    padding: 12px 15px;
    background-color: #f7f7f7;
    outline: none;
    color: #666;

}
.btn-add-to-card{
    width: 500px;
}

.container-img{
    background-color: white;
    flex:1;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    height: 500px;
    .img-product{
        max-width: 100%;
    }
}

.container-info-product{
    flex: 1;
    display:block;
    

}
.container-price{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(75, 73, 73);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-price span{
    font-size: 24px;
    font-weight: 300;

}

.container-details-products {
    padding: 30px 0;
}
.form-group{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group label{
    width: 100px;
    color:#222;
    font-weight: 700;
}
.form-group select{
    width: 300px;
    border:none;
    padding: 12px 15px;
    background-color: #f7f7f7 ;
    outline: none;
}
.btn-clean{
    border: none;
    background: none;
    color: #222;
    margin-left: 120px;
    cursor: pointer;
}

.btn-clean:hover{
    color: purple;
}
.container-add-cart{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom:1px solid #e4e4e4 ;
}
.container-quantity{
    position: relative;
}
.input-quantity{
    background-color: wheat;
    border: none;
    width: 60px;
    height: 100%;
    padding: 10px;
    color: #666;
    font-weight: 500;
}
.input-quantity:focus{
    outline: none;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
    
}

.btn-add-to-card{
    border:none;
    background-color: #252525;
    padding: 10px;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
}
.btn-add-to-card:hover{
    color: aqua;
}
.hidden{
    display: none;
}

.container-description,
.container-additional-information,
.container-reviews{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4e4;
    padding: 10px 0px;

}
.title-descripcion,
.title-additional-information,
.title-reviews{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}
.text-description{
    font-size: 13px;
    color: #222;
    line-height: 22px;
    margin-top: 25px;
}

.title-description{
    font-size: 13px;
    color: #222;
}
.title{
    font-size: 34px;
font-style: normal;
font-weight: 700;
}

.text-descripcion,
.text-additional-information,
.text-reviews{
    font-size: 13px;
    color: #252525;
    line-height: 22px;
}

.container-social{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    text-decoration: none;
}
.container-social span{
    font-weight: 300;
    color: #252525;


}

.container-relative-products h2{
    text-align: center;
    margin-top: 30px;

}
.card-list-producto{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
.card{
    cursor: pointer;
}

.card-img{
    background-color: transparent;
    margin-bottom: 15px;
}
.card-img img{
    height: 400px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgb(0,0,0,0.2) ;

}
.container-buttons-socials{
    text-decoration: none;


}
.info-card{
    display: flex;
    justify-content: space-between;
}
.text-product{
    color:#252525;
    font-weight: 300;
    line-height: 1.4;

}

.button{
    height: 50 px;
    margin: 35px;
    height: 100%;
    width: 100%;
}
.button input{
   padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #54bdbd, #b586df);
}

 .button input:hover{
  transform: scale(0.99);
  background: linear-gradient(-135deg, #54bdbd, #b586df);
}

.content-relacionada{
    display: flex;
    flex-wrap: wrap;

    .content-button-left{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        .icon-left{
           cursor: pointer;
        }
    }


    .content-button-rigth{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        .icon-right{
            cursor: pointer;
        }
    }


}

.productos-relacionados{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
    display: flex;
    cursor: pointer;
}

.card-prodcuto:hover{
   box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
   transform: translateY(-3%)
}
.title-relacionado{
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: left;

    .title-pro{
        font-size: 24px;
    font-style: normal;
    font-weight: 700;
    }
}

.card-prodcuto{
    width: 300px;
    height: 350px;
    border-radius: 8px;
}

.img{
    display: flex;

    .producto-img{
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }
}

.descripcion{
    display: flex;
    .title{
        margin-top: 30px;
        margin-left: 60px;
    }
}

.precio{
    display: flex;
    .price{
        margin-top: 30px;
        margin-left: 60px;
    }
}