<div>
  <app-navbar></app-navbar>
</div>
<div class="container">
  <div class="content">
    <div class="image-box">
      <img src="../../../assets/contactanos.png" />
    </div>

    <form action="#">
      <div class="topic">Contactanos</div>

      <div class="input-box">
        <input type="text" required />
        <label>Nombre</label>
      </div>

      <div class="input-box">
        <input type="email" required />
        <label>Email</label>
      </div>

      <div class="message-box">
        <textarea></textarea>
        <label>Escribe tu mensaje</label>
      </div>

      <div class="input-box">
        <input type="submit" value="Envía tu Mensaje" />
      </div>

      <div class="redes-sociales">
        <p>También nos puedes encontrar en:</p>
        <div class="redes-iconos">
          <a href="#"><i class="uil uil-facebook-f"></i></a>
          <a href="#"><i class="uil uil-instagram"></i></a>
          <a href="#"><i class="uil uil-twitter"></i></a>
        </div>
      </div>
    </form>
  </div>
</div>
