<body>

    <div class="contenedor">

        <div class="title">Inicio de Sesión</div>

        <div class="content">

            <form action="#">

                <div class="detalles_usuario">

                    <div class="input-field">
                        <input type="text" required spellcheck="false"> 
                        <label>Email</label>
                    </div>

                    <br>

                    <div class="input-field">
                        <input type="password" required spellcheck="false"> 
                        <label>Contraseña</label>
                    </div>

                    <a href="">¿Olvidaste tu contraseña?</a>
    
                    <div class="button" onclick="location.href='index.html'">
                        <input type="submit" value="Iniciar Sesión">
                    </div>

                    <br><p>No tienes una cuenta. <a routerLink="/registro-usuario" routerLinkActive="active">Crea una Cuenta</a></p>

                
                </div>
    
            </form>

        </div>

        
        </div>
  

</body>
